<h1>User Index Page</h1>
<% if @users.any? %>
  <% @users.each do |user| %>
    <%= user.id %>
    <%= user.name %>
    <%= link_to "編集",edit_user_path(user.id) %>
    <%= link_to "削除",user,method: :delete,confirm:"本当に削除しますか？" %>
    <p>削除時のダイアログを表示する</p>
  <% end %>
<% else %>
  <p>No Users...</p>
<% end %>
