<div class="about">
  <div class="text">
    <h1>WELCOM TO SCHEDULE-MAKER!</h1>
    <h2>Hallo MyTimes,Goodbye my lazy times</h2>
    <ul>
      <li>This app can be used to mazimize your shcedule management.</li>
      <li>Why don't you do something more important by making effective use of the time you don't usually care about?</li>
    </ul>
    <p class="new_link">Let's get my time! => <%= link_to "Make NEW Account",new_user_path,class:"button"%></p>
  </div>
</div>
